@model LilamiBazzar.Models.Models.Category
@{
    ViewData["NoFooter"] = true;
}
<style>
    .custom-card {
        border-radius: 25px; /* Adjust the value for more or less curvature */
        overflow: hidden;
        margin-left: 23px;
        margin-right: 23px;
    }

    .custom-header {
        background-color: #192E2E; /* Background color of the header */
        /* margin-left: 15px;
                margin-right: 23px; */
    }

</style>
<div class="card shadow border-0 mt-4 custom-card">
    <div class="card-header  mt-0 py-3 custom-header">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <label for="Name" class="ms-2">Category Name</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-primary form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


