
@{
    ViewData["Title"] = "Manage Password";
    ViewData["NoFooter"] = true;

}

<h1 style="margin-left: 70px;">Manage your account</h1>


<div style="margin-left:74px">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar navigation (same as the main layout) -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/Accounts/Dashboard">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/Accounts/Dashboard/Email">Email</a></li>
                <li class="nav-item"><a class="w-100 btn btn-lg btn-primary" href="/Accounts/Dashboard/ChangePassword">Password</a></li>
@*                 <li class="nav-item"><a class="nav-link" href="/Accounts/Dashboard/TwoFactorAuthentication">Two-factor authentication</a></li>
                <li class="nav-item"><a class="nav-link" href="/Accounts/Dashboard/PersonalData">Personal data</a></li> *@
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Password change form -->
            <h3>@ViewData["Title"]</h3>
            <form id="change-password-form" method="post">
                <!-- Validation summary for errors -->
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Old password input -->
                <div class="form-floating mb-3">
                    <input  class="form-control" autocomplete="current-password" aria-required="true" name="oldPassword" placeholder="Please enter your old password." />
                    <label  class="form-label">Enter your current Password</label>
                    <span  class="text-danger"></span>
                </div>

                <!-- New password input -->
                <div class="form-floating mb-3">
                    <input  class="form-control" autocomplete="new-password" aria-required="true" name="newPassword" placeholder="Please enter your new password." />
                    <label  class="form-label">Enter your new Password</label>
                    <span  class="text-danger"></span>
                </div>

                <!-- Confirm new password input -->
                <div class="form-floating mb-3">
                    <input  class="form-control" autocomplete="new-password" aria-required="true" name="confirmPassword" placeholder="Please confirm your new password." />
                    <label class="form-label">Confirm your new Password</label>
                    <span  class="text-danger"></span>
                </div>

                <!-- Submit button -->
                <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>

